@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --colorThemeExtraDark: #422C16;
  --colorThemeDarker: #645342;
  --colorThemeDark: #B19550;
  --colorThemeMedium: #F1EBC0;
  --colorThemeLight: #F9F8F3;
  --colorThemeOrange: #D79050;
  --colorThemeLightOrange: #deae72;
  --boardSize: 28rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
}